html,
body {
    background-color: #111;
    height: 100%;
    width: 100%;
}

#box1 {
    background-color: crimson;
    width: 300px;
    height: 300px;
}

#box2 {
    background-color: rgba(0, 255, 26, 0.44);
    width: 300px;
    height: 300px;
}