html,
body {
    background-color: #111;
    height: 100%;
    width: 100%;
}

#box1 {
    background-color: crimson;
    width: 300px;
    height: 300px;
}

#box2 {
    background-color: rgba(0, 255, 26, 0.44);
    width: 300px;
    height: 300px;
}

h1 {
    color: #fff;
}

#box {
    width: 200px;
    height: 200px;
    background-color: crimson;
}

#nav {
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
}

#part2 {
    display: flex;
    gap: 60px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}